#essence-heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 3rem;
  padding-top: 5rem;
}

section#essence-info {
  padding-top: 2rem;
}

a {
  text-decoration: none;
  color: black;
}

section#essence-effects {
  margin: 1.5rem 0;
}

.essence-effect {
  margin: 0.5rem 0;
}

.essence-effect::first-letter {
  text-transform: capitalize;
}
