#company-heading {
  padding-top: 5rem;
  display: inline-block;
  font-weight: 400;
  font-size: 2.5rem;
}

// #company-logo-with-border {
//   display: flex;
//   float: right
// }

.description-logo {
  float: right;
  height: 250px;
  width: 250px;
  margin: 0 0 1rem 6rem;
}
// Company specific logo styling
#Bach-logo {
  width: 360px;
}

#Indigo-logo {
  height: 140px;
  width: 360px;
  margin-top: 5rem;
}

section#company-info {
  display: none;

  p {
    margin: 1rem 0;
  }
}

.section-underline {
  height: 5px;
  width: 200px;
  margin: 3rem 0;
  background-color: pink;
}

section#groups {
  padding: 1rem 0 5rem 0;

  h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
}

#group-links {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-row-gap: 8rem;
  padding-bottom: 5rem;
  align-items: center;
}

.group-link {
  height: 200px;
  width: 200px;
  text-align: center;
  font-size: 1.1rem;
  margin: auto;

  img {
    height: 215px;
    border-radius: 50%;
  }

  img[src='/images/group-images/new_child_series.png'] {
    height: 245px;
  }
}

#group-list {
  margin-top: 2rem;

  li {
    margin: 1rem 0 1rem 2rem;
  }

  .group-link {
    font-weight: bold;
    font-size: 1.2rem;
  }
}
