section#keywords {
  width: 100%;
  margin: 3rem auto 0 auto;
  padding-left: 6rem;
  padding-bottom: 3rem;

  ul {
    columns: 4;
    list-style: none;
  }
}

section#chakras-meridians-list,
section#cross-reference-guide {
  display: none;
  a {
    margin-bottom: 1rem;
  }
}

#chakra-list {
  display: flex;
  justify-content: space-between;

  ul {
    list-style: none;
    columns: 4;
  }
}

ul#meridian-list {
  list-style: none;
  columns: 3;
}

@media (max-width: 1024px) {
  section#keywords {
    padding-left: 4rem;

    ul {
      columns: 3;
      width: 80vw;
      margin: auto;

      li a {
        font-size: 0.9rem;
      }
    }
  }

  #chakra-list {
    ul {
      columns: 3;

      a {
        border-bottom: 1px solid var(--primary);
        padding-bottom: 0.5rem;
      }
    }
  }

  #meridian-list {
    a {
      border-bottom: 1px solid #ffae89;
      padding-bottom: 0.5rem;
    }
  }
}
