section#sidenav {
  height: 80vh;
  width: 12vw;
  // background-color: #312450;
  position: fixed;
  top: 0;
  left: 125px;
  border-right: 5px solid pink;
  margin: 85px 0;

  nav#main-nav {
    height: 74%;
    margin-right: 2rem;
  }

  ul {
    list-style: none;
    height: 76%;
    margin-top: -2rem;

    // text-align: center;
  }

  li {
    margin: 40px 0;
  }

  li#top-logo-link {
    display: none;
  }

  li a {
    font-size: 1.15rem;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    img {
      width: 30px;
      margin-right: 1rem;
    }
  }

  li.logo-link {
    font-family: 'Dawning of a New Day', cursive;
    font-weight: 600;
    // width: 80%;
    // padding-right: 4rem;
    text-align: center;
    margin-bottom: 4rem;

    a {
      text-transform: capitalize;
      font-size: 2.5rem;
      line-height: 3rem;
    }
  }

  #links {
    // display: grid;
    // grid-template-columns: repeat(2, 20px);
    // grid-column-gap: 37px;
    // grid-row-gap: 17px;
    margin: 230px 0 0 15px;
    border-top: 5px solid var(--secondary);
    width: 83%;
    padding-top: 27px;
    padding-left: 16px;
    // justify-items: center;

    a {
      margin-right: 1rem;
    }

    i.fa-facebook,
    i.fa-twitter,
    i.fa-youtube,
    i.fa-instagram {
      color: var(--secondary);
    }
  }
}

#open-slide {
  display: none;
}

.dropdown-nav {
  position: fixed;
  top: 5.7rem;
  height: 4.7rem;
  // padding: 2rem;
  z-index: 2;
  background-color: var(--primary);
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: 0.3s ease-in;
  display: none;
  justify-content: space-around;

  li {
    list-style: none;
    padding: 0.5rem 1rem;
    display: inline;
  }

  a {
    // color: $light-color;
    transition: all 0.2s ease-in;
  }
}

@media (max-width: 1024px) {
  // Side Nav
  section#sidenav {
    background-color: var(--secondary);
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 9vh;
    margin: 0;
    border-bottom: 5px solid var(--secondary);
    border-right: none;

    #links {
      display: none;
    }

    li {
      margin-top: 10px;

      a {
        font-size: 1rem;
      }
    }

    li#side-logo-link {
      display: none;
    }

    li#top-logo-link {
      display: inline-block;
    }

    li.logo-link a {
      font-size: 1.8rem;
      line-height: 2.1rem;
      width: 50px;
      padding: 0.25rem 0 0 1rem;
      margin-top: 30px;
    }
  }

  #main-nav {
    ul {
      display: flex;

      li.nav-link {
        display: none;
      }
    }
  }

  #open-slide {
    display: inline;
    float: right;
    margin-top: 5px;
  }
}
