@import '../components/App/App';
@import '../components/Landing/Landing';
@import '../components/SideNav/SideNav';
@import '../components/Intro/Intro';
@import '../components/Medicine/Medicine';
@import '../components/Essence/Essence';
@import '../components/EssenceNav/EssenceNav';
@import '../components/Company/Company';
@import '../components/Group/Group';
@import '../components/CrossReference/CrossReference';
@import '../components/Reference/Reference';
@import '../components/Education/Education';

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Core styling
body,
html {
  height: 100%;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  // color: #333;
  // background-color: #eee;
  width: 82vw;
  margin: auto;
}

li {
  list-style: none;
}

// Section container
.container {
  margin-left: 16vw;
}

// Section heading
.section-heading {
  // font-family: 'Dawning of a New Day', cursive;
  font-size: 3rem;
  font-weight: 400;
  padding-top: 5rem;
}
