@import './utils';
@import '../components/App/App';
@import '../components/Landing/Landing';
@import '../components/SideNav/SideNav';
@import '../components/Intro/Intro';
@import '../components/Medicine/Medicine';
@import '../components/Essence/Essence';
@import '../components/EssenceNav/EssenceNav';
@import '../components/Company/Company';
@import '../components/Descriptions/Alaskan/Alaskan';
@import '../components/Descriptions/Bach/Bach';
@import '../components/Descriptions/Indigo/Indigo';
@import '../components/Descriptions/Pacific/Pacific';
@import '../components/Descriptions/WEAE/WEAE';
@import '../components/Group/Group';
@import '../components/EssenceLinks/EssenceLinks';
@import '../components/CrossReference/CrossReference';
@import '../components/CrossReferenceNav/CrossReferenceNav';
@import '../components/Reference/Reference';
@import '../components/Education/Education';
@import '../components/Beginner/Beginner';
@import '../components/Intermediate/Intermediate';
@import '../components/Advanced/Advanced';
@import '../components/Store/Store';
@import '../components/Spiral/Spiral';
@import '../components/VineUnderline/VineUnderline';
@import '../components/VineBorder/VineBorder';

// vars
:root {
  --primary: pink;
  // --secondary: #b3ec68;
  --secondary: #ffd4bf;
  --light-secondary: #ffe9ed;
  // --secondary: #ffbfea;
  --tertiary: #b6fff9;
}

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Core styling
body,
html {
  height: 100%;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  // font-family: 'Nunito', sans-serif;
  font-weight: 400;
  // line-height: 1.8em;
  line-height: 2.3em;
  // color: #333;
  // background-color: #eee;
  width: 82vw;
  margin: auto;
}

li {
  margin-left: 2rem;
}

// Section container
.container {
  margin-left: 16vw;
}

// Section heading
.section-heading {
  // font-family: 'Dawning of a New Day', cursive;
  font-size: 3rem;
  font-weight: 400;
  padding-top: 5rem;
  text-align: center;
}

.heading-underline {
  height: 5px;
  width: 130px;
  background-color: var(--secondary);
  margin: 27px auto;
}

.heading-underline-left {
  height: 5px;
  width: 130px;
  background-color: var(--secondary);
  margin-top: 27px;
}

section.section-intro {
  padding-top: 2rem;

  p {
    margin: 1rem 0;
    font-size: 1.1rem;
    line-height: 1.8rem;
  }

  div.section-text {
    width: 75%;
    padding-bottom: 2rem;
    margin: auto;
  }
}

// Education contents
.contents {
  margin: 4rem 0;
  text-align: center;
}
