section#intermediate-education {
  width: 80%;
  margin: auto;

  p {
    margin-bottom: 1rem;
  }

  h3 {
    margin-bottom: 1.5rem;
  }

  img {
    float: right;
    margin: 0 0 2rem 2rem;
  }

  img#chakras_front {
    width: 350px;
  }
}
