section#intermediate-education {
  width: 80%;
  margin: auto;

  p {
    margin-bottom: 1rem;
  }

  h3 {
    margin-bottom: 1.5rem;
  }

  img {
    float: right;
    margin: 0 0 2rem 2rem;
  }

  img#chakras_front,
  img#flexner {
    width: 350px;
  }

  img#prescription-drugs {
    width: 450px;
  }
}

#intermediate-section-1,
#intermediate-section-2,
#intermediate-section-3,
#intermediate-section-4,
#intermediate-section-5,
#intermediate-section-6,
#intermediate-section-7 {
  display: none;
  padding-bottom: 2rem;
}
