#medicine-intro-text {
  padding-bottom: 1rem;
}

#company-links {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-row-gap: 1.5rem;
  margin-top: 1rem;
  text-align: center;
}

.company-link {
  height: 250px;
  width: 250px;
  border-radius: 50px;
  border: 8px solid var(--secondary);
  text-align: center;
  margin: auto;

  img {
    height: 120px;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
  }

  img[src='images/company-logos/ltoe.gif'] {
    height: 150px;
    margin-bottom: -0.4rem;
    margin-top: 1rem;
  }

  h4 {
    font-size: 0.9rem;
    width: 75%;
    margin: auto;
    line-height: 1.5rem;
  }
}

@media (max-width: 1550px) {
  section#medicine {
    margin-left: 25vw;
  }

  #medicine-intro-text p {
    font-size: 1rem;
  }

  .company-link {
    height: 250px;
    width: 250px;

    img {
      height: 120px;
      margin-bottom: 0;
    }

    h4 {
      font-size: 0.9rem;
    }
  }
}

@media (max-width: 414px) {
  section#company-links {
    grid-template-columns: repeat(1, auto);
  }
}
