#medicine-intro-text {
  padding-bottom: 1rem;
}

#company-links {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-row-gap: 1.5rem;
  // justify-content: space-between;
  // width: 95%;
  margin-top: 2rem;
  text-align: center;
  padding-bottom: 4rem;

  // .company-link:nth-child(even) {
  //   border: 8px solid var(--secondary);
  // }
}

.company-link {
  height: 275px;
  width: 275px;
  border-radius: 50px;
  border: 8px solid var(--secondary);
  // padding: 2rem 3rem 3rem 3rem;
  text-align: center;
  margin: auto;

  img {
    height: 135px;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
}

@media (max-width: 1550px) {
  section#medicine {
    margin-left: 25vw;
  }

  #medicine-intro-text p {
    font-size: 1rem;
  }

  .company-link {
    height: 250px;
    width: 250px;

    img {
      height: 120px;
      margin-bottom: 0;
    }

    h4 {
      font-size: 0.9rem;
    }
  }
}

@media (max-width: 414px) {
  section#company-links {
    grid-template-columns: repeat(1, auto);
  }
}
