#reference-heading {
  font-weight: 400;
  font-size: 3rem;
  padding-top: 5rem;
}

ul#references {
  list-style: none;

  li.reference {
    display: flex;
  }

  li:nth-child(odd) {
    background-color: var(--light-secondary);
  }

  li:nth-child(even) {
    background-color: var(--primary);
  }
}

.essence-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

p.essence {
  margin-right: 2rem;
}

.indication {
  margin: 1rem 0;
}

.indication::first-letter {
  text-transform: capitalize;
}
