#uses-list {
  padding: 3rem 0 3rem 1rem;
  margin-bottom: 2rem;
  border-radius: 5px;

  ul {
    margin-top: 1rem;
    li {
      margin-bottom: 0.5rem;
      text-transform: capitalize;
    }
  }
}

#threefold-system {
  margin: 4rem 0;

  h2 {
    margin-bottom: 2rem;
  }
  h3 {
    margin-top: 2rem;
  }
}
