section.top-nav {
  position: relative;
  top: 0;
  left: 0;
}

nav#top-nav-main {
  display: flex;
  margin-top: 0;
  padding-top: 3rem;
  justify-content: center;

  ul {
    display: flex;
    list-style: none;

    li {
      margin: 0 1rem 0 2rem;
      cursor: pointer;
    }
    li.active {
      font-weight: bold;
    }
  }
}

.top-nav-heading {
  font-size: 2.5rem;
  font-weight: 400;
  padding-top: 5rem;
  text-align: center;
}

#top-nav-logo {
  height: 100px;
  max-width: 100px;
  position: absolute;
  top: 56px;
  left: 10px;

  [src='/images/company-logos/indigo.gif'] {
    width: 100px;
  }
  // right: 281px;
  // float: left;
}

// Media queries
@media (max-width: 1024px) {
  nav#top-nav-main ul li {
    margin: 0;
    padding: 0 0.75rem;
    font-size: 0.9rem;
  }
}
