#logo-h1 {
  color: black;
  font-size: 6.1rem;
  margin-top: 17rem;
  // margin-right: 0rem;
  line-height: 6.8rem;
  font-weight: 600;
  text-align: center;
  font-family: 'Dawning of a New Day', cursive;
  // position: absolute;
}

#landing {
  height: 100vh;
  display: flex;
  // margin-top: 3rem;

  img#underline {
    height: 50px;
    margin-top: 35px;
    margin-left: 35px;
  }

  img#tree {
    height: 93vh;
    margin-top: 3rem;
  }
}
