#group-heading {
  margin-top: 2rem;
}

#group-photo {
  // margin-top: 3rem;
  // display: flex;
  // justify-content: space-around;
  float: right;
  // display: grid;
  // grid-template-columns: repeat(2, auto);
  // grid-row-gap: 1rem;
  // width: 300px;
}

.group-photo-example {
  max-height: 300px;
  // max-width: 300px;
  margin: 9rem 3rem 1.5rem 3rem;
  border-radius: 5px;
}

#group-info {
  margin: 2rem 0;
  padding-bottom: 2rem;
  min-height: 210px;

  p {
    margin-bottom: 1rem;
    max-width: 70%;
  }
}
